<footer>
    <div class="all-footer-links p-5">
        <div class="footer">
            <h5>ABOUT</h5>
            <div>Contact Us</div>
            <div>About us</div>
            <div>Carrers</div>
            <div>ShubhCart Stories</div>
            <div>Press</div>
            <div>Shubhcart Wholesale</div>
            <div>Corporate Info</div>
        </div>
        <div class="footer">
            <h5>HELP</h5>
            <div>Payments</div>
            <div>Shipping</div>
            <div>Cancellation and Returns</div>
            <div>FAQ</div>
            <div>Credit Cards</div>
            <div>Report</div>
            <div>Infringement</div>
        </div>
        <div class="footer">
            <h5>Policy</h5>
            <div>Return Policy</div>
            <div>Terms of Use</div>
            <div>Security</div>
            <div>Privacy</div>
            <div>Sitemap</div>
            <div>ERP Compilance</div>
        </div>
        <div class="footer">
            <h5>Make money with us</h5>
            <div>Sell on Shubhcart</div>
            <div>Sell under Shubhcart Accelerator</div>
            <div>Shubhcart Global Selling</div>
            <div>Advertise Your Products</div>
            <h5 style="margin-top: 3rem;">social</h5>
            <div>
                <span class="footer-icon"><a href="#"><img src="../assets/Images/facebook-icon.svg" width="30"></a></span>
                <span class="footer-icon"><a href="#"><img src="../assets/Images/linkedin-icon.svg" width="30"></a></span>
                <span class="footer-icon"><a href="#"><img src="../assets/Images/youtube-icon.svg" width="30"></a></span>
                <span class="footer-icon"><a href="#"><img src="../assets/Images/twitter-icon.svg" width="30"></a></span>
            </div>
            <div class="store">
                <span class="footer-store-img"><a href="#"><img src="../assets/Images/get-it-on-google-play-logo-svg-vector.svg"></a></span>
                <span class="footer-store-img"><a href="#"><img src="../assets/Images/available-app-store.png"></a></span>
            </div>    
        </div>
    </div>
    <hr class="less-width">
    <div class="copywrite">
        <div>Copyright© 2022 . All rights Reserved.</div>
        <div>Made with <img src="../assets/Images/heart-icon.png" width="15" style="transform: translate(0,-10%);"> by Shubham Tyagi</div>
    </div>
</footer>
