<div class="container product-details">
    <div class="row">
        <div class="col-md-5 border justify-content-center">
            <div class="row">
                <div class="col p-2">
                <img class="img-fluid" style ="max-height: 40rem;" src="{{currentImg}}">
            </div>
            </div>
            
            <div class="row border-top pt-3 mb-4">
                <div *ngFor="let img of images" class="col ">
                   <img class="img-fluid border p-2 small-img" (click)="changeImage(img)" style="max-height: 7rem;"src = {{img}}>
                </div>
            </div>
        </div>
        <div class="col-md-7 border d-flex-column justify-content-around align-items-center p-5">
            <h2>{{product.title}}</h2>
            <h2 class="my-4">₹{{product.price | priceFormatter}}</h2>
            <div class="">
                <p class="fw-bold mb-0">Category</p>
                <p>{{product.category}}</p>
            </div>
            <div class="">
                <p class="fw-bold mb-0">Description</p>
                <p>{{product.description}}</p>
            </div>
            <div class="">
                <p class="fw-bold mb-0">Brand</p>
                <p>{{product.brand}}</p>
            </div>
            <div class="">
                <p class="fw-bold mb-0">Dimension</p>
                <p>{{product.dimensions}}</p>
            </div>
            <div class="">
                <p class="fw-bold mb-0">Weight</p>
                <p>{{product.weight}}</p>
            </div>
            <div class="">
                <p class="fw-bold mb-0">Manufacturer</p>
                <p>{{product.manufacturer}}</p>
            </div>
            <div class="">
                <p class="fw-bold mb-0">Generic Name</p>
                <p>{{product.genericName}}</p>
            </div>
            <div class="border-top pt-5">
                <button class="btn btn-outline-primary" (click)="addToCart()"><i class="bi bi-cart-plus"></i> Add To Cart</button>
            </div>
        </div>
    </div>
</div>