<div class="container product-details">
    <div class="row">
        <div class="col-5 border justify-content-center">
            <div class="row">
                <div class="col p-2">
                <img class="img-fluid" style ="height: 39rem;" src="{{currentImg}}">
            </div>
            </div>
            
            <div class="row border-top pt-3 mb-4">
                <div *ngFor="let img of images" class="col ">
                   <img class="img-fluid border p-2 small-img" (click)="changeImage(img)" style="max-height: 7rem;"src = {{img}}>
                </div>
            </div>
        </div>
        <div class="col-7 border d-flex-column justify-content-center align-items-center p-5">
            <h2>{{product.title}}</h2>
            <h2 class="my-4">₹{{product.price | priceFormatter}}</h2>
            <div class="">
                <p class="fw-bold mb-0">Description</p>
                <p>{{product.description}}</p>
            </div>
            <div class="">
                <p class="fw-bold mb-0">Brand</p>
                <p>{{product.brand}}</p>
            </div>
            <div class="">
                <p class="fw-bold mb-0">Size</p>
                <p>{{product.size}}</p>
            </div>
            <div class="">
                <p class="fw-bold mb-0">Camera</p>
                <p>{{product.camera}}</p>
            </div>
            <div class="">
                <p class="fw-bold mb-0">Cpu</p>
                <p>{{product.cpu}}</p>
            </div>
            <div class="">
                <p class="fw-bold mb-0">Memory</p>
                <p>{{product.memory}}</p>
            </div>
            <div class="">
                <p class="fw-bold mb-0">Display</p>
                <p>{{product.display}}</p>
            </div>
            <div class="">
                <p class="fw-bold mb-0">Battery</p>
                <p>{{product.battery}}</p>
            </div>
            <div class="border-top pt-5">
                <button class="btn btn-outline-primary" (click)="addToCart()"><i class="bi bi-cart-plus"></i> Add To Cart</button>
            </div>
        </div>
    </div>
</div>