.cart-prod{
    background-color: #FFFFFF;
    padding: 0.8rem;  
}

.remove{
    cursor: pointer;
}
.remove:hover{
    color: #2874F0;
}

.no-border-top-bottom{
    border-bottom: none;
    border-top: none;
}