<div class="cart">
    <div class="container-fluid"></div>
    <div *ngIf="cartProducts!=undefined && cartProducts.length>0; else elseBlock" class="row justify-content-evenly">
        <div class="col-lg-6 cart-prod">
            <div class="row">
                <div *ngFor="let prod of cartProducts">
                <app-cart-product [product]="findProduct(prod)" [cartProduct]="prod"></app-cart-product>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <app-price-details [price]="price" [discount]="discount" [deliveryCharges]="deliveryCharges" [totalAmount]="totalAmount"></app-price-details>
            <button class="btn btn-outline-danger w-100 mt-4 p-2 fs-4" data-bs-toggle="modal" data-bs-target="#placeOrderModal">Place order</button>
        </div>
    </div>  
    <!-- (click)="sendMail()"  -->
    <ng-template #elseBlock  class="row justify-content-evenly">
        <div class="row ">
            <img src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90" style="max-height: 30rem; max-width: 30rem;" class="mx-auto">
            <div class="text-center mt-5">
                <h5 class=""> Cart is empty. It's a good day to buy stuffs.</h5>
                <button class="btn btn-outline-danger" routerLink="/home">Buy Now</button>
            </div>
        </div>
    </ng-template>  
</div>
<div class="modal fade" id="placeOrderModal" tabindex="-1" aria-labelledby="placeOrderModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title mx-auto" id="placeOrderModalLabel">Order Summary</h1>
        </div>
        <div class="modal-body no-border-top-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-bordered table-dark">
                    <thead>
                        <tr>
                            <td>Product title</td>
                            <td>Product Price</td>
                            <td>Product Qty</td>
                            <td>total</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let prod of cartProducts">
                            <td>{{findProduct(prod).title}}</td>
                            <td>{{findProduct(prod).price}}</td>
                            <td>{{prod.p_qty}}</td>
                            <td>{{findProduct(prod).price * prod.p_qty}}</td>
                        </tr>
                    </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <h4>Total : ₹{{totalAmount}}</h4>
                    <p>Ordered will be confirmed by sending a mail to your registered email</p>
                    <button class="btn-danger p-2 rounded " data-bs-dismiss="modal" (click)="sendMail()">Confirm Order</button>
                </div>
            </div>
        </div>
        </div>
        <div class="modal-footer no-border-top-bottom">
          <button type="button" class="btn fs-5" data-bs-dismiss="modal">Cancel</button>
          <!-- <button type="button" class="btn btn-danger fs-5" (click)="deleteCartProduct()" data-bs-dismiss="modal">Remove</button> -->
        </div>
      </div>
    </div>
  </div>
