<div class="container my-5">
    <div class="row">
        <div class="col-5 border d-flex justify-content-center py-5 px-0">
            <img class="img-fluid" style="max-height: 40rem;" src="{{product.images}}">
        </div>
        <div class="col-7 border d-flex-column justify-content-center align-items-center p-5">
            <h2>{{product.title}}</h2>
            <h2 class="my-4">₹{{product.price | priceFormatter}}</h2>
            <div class="">
                <p class="fw-bold mb-0">Category</p>
                <p>{{product.category}}</p>
            </div>
            <div class="">
                <p class="fw-bold mb-0">Description</p>
                <p>{{product.description}}</p>
            </div>
            <div class="">
                <p class="fw-bold mb-0">Brand</p>
                <p>{{product.brand}}</p>
            </div>
            <div class="">
                <p class="fw-bold mb-0">Dimension</p>
                <p>{{product.dimensions }}</p>
            </div>
            <div class="">
                <p class="fw-bold mb-0">Weight</p>
                <p>{{product.weight}}</p>
            </div>
            <div class="">
                <p class="fw-bold mb-0">Manufacturer</p>
                <p>{{product.manufacturer}}</p>
            </div>
            <div class="">
                <p class="fw-bold mb-0">Generic Name</p>
                <p>{{product.genericName}}</p>
            </div>
            <div class="border-top pt-5">
                <button class="btn btn-outline-primary" (click)="addToCart()"><i class="bi bi-cart-plus"></i> Add To Cart</button>
            </div>
        </div>
    </div>
</div>