<div id="carouselSlidesOnly" class="shubhrousel carousel slide carousel-fade l" data-bs-ride="carousel">
    <div class="mt-4 carousel-inner">
      <div class="carousel-item active">
        <a routerLink="/mensfashion"><img src="../../assets/Images/Carousel/img1.jpg" alt="First slide" class="carousel-img d-block w-100" alt="..."></a>
      </div>
      <div class="carousel-item">
        <img src="../../assets/Images/Carousel/img2.jpg" alt="Second slide" class="carousel-img d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <a routerLink="/electronics"><img src="../../assets/Images/Carousel/img3.jpg" alt="Third slide" class="carousel-img d-block w-100" alt="..."></a>
      </div>
      </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselSlidesOnly" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselSlidesOnly" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </button>
  </div>
  <h1 class="animate__animated animate__bounce"> Hello </h1>
  <div class="container-fluid my-5">
      <div class="row text-center ">
        <div class="col-md-6 d-flex justify-content-center position-relative mb-5">
          <a routerLink="/womenfashion">
            <img class="category-img img-fluid px-1" src="../../assets/Images/Home/womenfashion.jfif">
            <p class="category-img-text">Women's Fashion</p>
            </a>
        </div>
        <div class="col-md-6 d-flex justify-content-center position-relative mb-5">
          <a routerLink="/mensfashion">
            <img class="category-img img-fluid px-1 h-100" src="../../assets/Images/Home/menfashion.jfif">
            <p class="category-img-text">Men's Fashion</p>
            </a>
        </div>
        
      </div>
      <div class="row">
        <div class="col-md-6 d-flex justify-content-center position-relative mb-5">
          <a routerLink="/kidsfashion"><img class="category-img img-fluid w-100 px-2" src="../../assets/Images/Home/kidsFashion.jfif">
            <p class="category-img-text">Kid's Fashion</p></a>
        </div>
        <div class="col-md-6 d-flex justify-content-center position-relative mb-5">
          <a routerLink="/electronics"><img class="category-img  img-fluid px-1" src="../../assets/Images/Home/electronics.jfif">
            <p class="category-img-text">Electronics</p></a>
        </div>
    </div>

  </div>